<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.buaa.rec.dao.ProjectMapper"  >
  <resultMap id="BaseResultMap" type="cn.edu.buaa.rec.model.Project">
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="build_time" jdbcType="TIMESTAMP" property="buildTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="creator_id" jdbcType="BIGINT" property="creatorId" />
    <result column="domain_id" jdbcType="BIGINT" property="domainId" />
    <result column="function" jdbcType="LONGVARCHAR" property="function" />
  </resultMap>

  <insert id="insert" parameterType="cn.edu.buaa.rec.model.Project">
    insert into project (id, name, description, 
      build_time, update_time, creator_id, 
      domain_id,  function
      )
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{buildTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{creatorId,jdbcType=BIGINT}, 
      #{domainId,jdbcType=BIGINT}, #{function,jdbcType=LONGVARCHAR})
  </insert>

  <!-- 查找现有记录的最大id -->
  <select id="selectMaxId" resultType="Long">
    SELECT max(id)
    FROM project
  </select>

  <!-- 根据id，查找该项目的全部信息 -->
  <select id="selectById" parameterType="Long" resultMap="BaseResultMap">
    SELECT *
    FROM project
--     这儿咋写的是Name呢刚开始！！！
    WHERE id = #{projectId}
    LIMIT 1
  </select>

  <!-- List<Project> selectAllProjects(); -->
  <select id="selectAllProjects" resultMap="BaseResultMap">
    SELECT *
    FROM project
  </select>

  <!--      Project selectByName(String name);  -->
  <select id="selectByName" parameterType="String" resultMap="BaseResultMap">
    SELECT *
    FROM project
    WHERE id = #{name}
  </select>

  <select id="selectNameByIds" resultType="String" parameterType="java.util.List">
    SELECT name
    FROM project
    WHERE id in
    <foreach collection="ids" item="id" separator="," open="(" close=")">
      #{id}
    </foreach>
  </select>

</mapper>