<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.buaa.rec.dao.SysUserMapper">
    <resultMap id="BaseResultMap" type="cn.edu.buaa.rec.model.SysUser">
        <result column="id" jdbcType="BIGINT" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="familiarDomain" jdbcType="LONGVARCHAR" property="familiardomain"/>
        <result column="projectExp" jdbcType="LONGVARCHAR" property="projectexp"/>
    </resultMap>

    <insert id="insert" parameterType="cn.edu.buaa.rec.model.SysUser">
        insert into sys_user (id, name, phone,
        email, password, familiarDomain, projectExp)
        values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR},
        #{email,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{familiardomain,jdbcType=LONGVARCHAR}, #{projectexp,jdbcType=LONGVARCHAR})
    </insert>

    <!-- 查找现有记录的最大id -->
    <!-- max后面不能有空格 -->
    <select id="selectMaxId" resultType="Long">
    SELECT max(id)
    FROM sys_user
  </select>

    <!-- 根据name，查找该用户的全部信息 -->
    <!-- dao层接口的变量，用占位符： #{}-->
    <select id="selectByName" parameterType="String" resultType="cn.edu.buaa.rec.model.SysUser">
    SELECT *
    FROM sys_user
    WHERE NAME = #{name}
    LIMIT 1
  </select>

    <!-- 根据id，查找该用户的全部信息 -->
    <select id="selectById" parameterType="Long" resultMap="BaseResultMap">
    SELECT *
    FROM sys_user
    WHERE id = #{id}
    LIMIT 1
  </select>

    <!-- 根据id，查找该用户名 -->
    <select id="selectNameById" parameterType="Long" resultType="String">
        SELECT name
        FROM sys_user
        WHERE id = #{id}
    </select>
    <!-- 通过id更新用户信息 -->
    <!-- int updateById(SysUser sysUserInfo); -->
    <update id="updateById" parameterType="cn.edu.buaa.rec.model.SysUser">
    UPDATE sys_user
    SET phone = #{phone,jdbcType=VARCHAR},
    email = #{email,jdbcType=VARCHAR},
    password = #{password,jdbcType=VARCHAR},
    familiarDomain = #{familiardomain},
    projectExp = #{projectexp}
    where id = #{id}
  </update>
</mapper>