<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.buaa.rec.dao.UsecaseMapper">
  <resultMap id="BaseResultMap" type="cn.edu.buaa.rec.model.Usecase">
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="build_time" jdbcType="TIMESTAMP" property="buildTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="creator_id" jdbcType="BIGINT" property="creatorId" />
    <result column="project_id" jdbcType="BIGINT" property="projectId" />
    <result column="usestate" jdbcType="VARCHAR" property="usestate" />
    <result column="description" jdbcType="LONGVARCHAR" property="description" />
    <result column="rucm_spec" jdbcType="LONGVARCHAR" property="rucmSpec" />
    <result column="input" jdbcType="VARCHAR" property="input" />
    <result column="output" jdbcType="VARCHAR" property="outut" />
    <result column="data_dictionary" jdbcType="VARCHAR" property="dataDictionary" />
  </resultMap>

  <select id="selectUseCases" resultType="String" parameterType="Long">
      SELECT usecase_id
      from usecase_business
      where business_id=#{businessId}
  </select>
  <select id="selectById" resultMap="BaseResultMap" parameterType="Long">
    SELECT *
    from usecase
    where id=#{uId}
  </select>
  <select id="selectRucmSpecByUseCase" resultType="String" parameterType="Long">
    SELECT rucm_spec
    FROM usecase
    WHERE id=#{useCaseId}
  </select>
  <!-- 查找现有记录的最大id -->
  <!-- max后面不能有空格 -->
  <select id="selectMaxId" resultType="Long">
    SELECT max(id)
    FROM usecase
  </select>

  <!-- 根据name 和 projectId，查找该usecase是否存在 -->
  <select id="checkByNameAndProjectId"  resultType="Integer">
    SELECT count(*)
    FROM usecase
    WHERE name = #{name} AND project_id = #{projectId}
  </select>


  <insert id="insert" parameterType="cn.edu.buaa.rec.model.Usecase">
    insert into usecase (id, name, description,build_time,
      update_time, creator_id,rucm_spec,usestate,project_Id
        )
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR},#{description,jdbcType=LONGVARCHAR}, #{buildTime,jdbcType=TIMESTAMP},
      #{updateTime,jdbcType=TIMESTAMP}, #{creatorId,jdbcType=BIGINT},#{rucmSpec,jdbcType=LONGVARCHAR},
      #{usestate,jdbcType=VARCHAR},  #{projectId,jdbcType=BIGINT})
  </insert>

  <select id="selectByIds" resultMap="BaseResultMap">
  SELECT *
  FROM usecase
  WHERE id IN
  <foreach collection="ids" item="id" index="index" open="(" close=")" separator="," >
    (#{id})
  </foreach>
  </select>

  <select id="selectByProjectId" resultMap="BaseResultMap">
    SELECT *
    FROM usecase
    WHERE project_id = #{projectId}
  </select>

  <!-- 通过id更新用例信息 -->
  <!-- int updateById(Usecase usecase); -->
  <update id="updateById" parameterType="cn.edu.buaa.rec.model.Usecase">
    UPDATE usecase
    <set>
    <if test="name!=null" >
      name = #{name,jdbcType=VARCHAR},
    </if>
    <if test="description!=null">
      description = #{description,jdbcType=LONGVARCHAR},
    </if>
    <if test="buildTime!=null">
      build_time = #{buildTime,jdbcType=TIMESTAMP},
    </if>
    <if test="updateTime!=null">
      update_time=#{updateTime,jdbcType=TIMESTAMP},
    </if>
    <if test="creatorId!=null">
      creator_id = #{creatorId,jdbcType=BIGINT},
    </if>
    <if test="rucmSpec!=null">
      rucm_spec = #{rucmSpec,jdbcType=LONGVARCHAR},
    </if>
    <if test="usestate!=null">
      usestate = #{usestate,jdbcType=VARCHAR},
    </if>
    <if test="projectId!=null">
      project_id = #{projectId,jdbcType=BIGINT},
    </if>
    </set>
    where id = #{id}
  </update>
</mapper>